@use 'variables' as *;

html {
    font-size: 22px;
    @include mq(sp) {font-size: 20px;}
}

body {
    font-family: 'YuGothic','Yu Gothic','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    font-weight: 600;
    color: $txtC-basic;
}

body, html {height: 100%;}

* {box-sizing: border-box;}

.container {
    max-width: 750px;
    margin: 0 auto;
    background: linear-gradient(to right, #DDEAF1 0%, #F6FBFF 30%, #F6FBFF 50%, #F6FBFF 70%, #CFC9EB 100%);
    
    img, video {
        display: block; /* 縦配置画像の隙間対策 */
        width: 100%;
        // vertical-align: middle; /* display:blockで都合が悪い場合はこちらで対応 */
    }
    
    section {
        display: none;
        margin-bottom: $marginV * 2;
        @include spacing(padding);
        padding-top: 0;
        padding-bottom: 0;

        &.is-show {
            display: block;
        }

        &.fv {
            margin-bottom: 0;
            padding: 0;
        }
        
        &.question {
            .question__title {
                @include spacing(margin-bottom);
            }
            .question__answer {
                margin-top: $marginV * 2;

                ul.answer__options {
                    display: flex;
                    flex-direction: column;
                    gap: .8em;
                    width: 80%;
                    margin: auto;

                    &.two_columns {
                        flex-direction: row;
                        justify-content: space-between;

                        li {
                            width: 45%;
                        }
                    }
    
                    li {
                        background-color: $lightGY;
                        @include btn_style();

                        &.is-active {
                            background-color: $midPK;
                            color: #fff;
                            box-shadow: none;
                        }
                    }
                }

                ul.answer__checkboxes {
                    display: grid;
                    grid-template-rows: 1fr;
                    row-gap: 1em;

                    li {
                        $cboSize: min(10vw, 40px);
                        position: relative;
                        display: grid;
                        grid-template-columns: $cboSize 1fr;
                        grid-template-rows: 100%;
                        gap: 0 .5em;
                        font-weight: 500;
                        cursor: pointer;

                        // チェックボックス
                        input[type="checkbox"] {
                            position: relative;
                            appearance: none;
                            width: $cboSize;
                            height: $cboSize;
                            background-color: #fff;
                            border: 1px solid $darkPK;
                            
                            &:checked {
                                &::after {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    display: block;
                                    content: '';
                                    border: 3px solid $darkPK;
                                    width: 80%;
                                    height: 80%;
                                    border-radius: 50%;
                                    box-sizing: border-box;
                                }
                            }
                        }

                        label {cursor: pointer;}
                    }
                }

                .js-attention {
                    display: none;
                    text-align: center;
                    color: red;

                    &.is-show {display: block;}
                }
            }
            .question__btnNext {
                margin: $marginV * 2 0;
                text-align: center;

                button.btnNext {
                    background-color: $midPL;
                    @include btn_style();
                    min-width: 8em;
                    color: #fff;
                    font-weight: inherit;

                    &.is-active {
                        filter: brightness(0.8);
                        box-shadow: none;
                    }
                }
            }
        }

        &.column {
            margin: ($marginV * 4) 0 $marginV;

            .check {
                position: relative;
                @include spacing(padding);

                img.check__title {
                    position: absolute;
                    top: -10px;
                    left: 0;
                    width: 40%;
                    transform-origin: left bottom;
                    transform: rotate(-15deg);
                    @include spacing(margin);
                    z-index: 20;
                }
                .check__contents {
                    position: relative;
                    z-index: 10;
                }
            }
        }

        .btnNext {
            text-align: center;
            margin-top: $marginV * 2;

            button.btnNextGY {
                @include btn_style();
                background-color: $lightGY;
                padding: .5em 1em;
                min-width: 12em;
                line-height: 1.4;
                font-weight: inherit;
                color: inherit;

                &.is-active {
                    background-color: $midPL;
                    color: #fff;
                    box-shadow: none;
                }
            }
        }

        .column {margin: $marginV * 2 0;}

        .imgBtn {margin: $marginV * 2 0;}
    }

    footer {
        font-family: YuGothic,'Yu Gothic','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
        font-size: 12px;
        font-weight: 500;
        color: #000;
        text-align: center;
        margin: 50px 0 30px;
        padding-bottom: 30px;

        .footer__info {line-height: 2;}

        ul.footer__links {
            display: flex;
            flex-direction: column;
            gap: 0.8em 0;
            margin: 2em 0;
        }
    }

}
