@use 'variables' as *;

html {
    font-size: 22px;
    @include mq(sp) {font-size: 20px;}
}

body {
    font-family: 'YuGothic','Yu Gothic','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    font-weight: 600;
    color: $txtC-basic;
}

* {box-sizing: border-box;}

.container {
    max-width: 750px;
    margin: 0 auto;
    @include spacing(padding);
    background: linear-gradient(to right, #DDEAF1 0%, #F6FBFF 30%, #F6FBFF 50%, #F6FBFF 70%, #CFC9EB 100%);

    img, video {
        display: block; /* 縦配置画像の隙間対策 */
        width: 100%;
        // vertical-align: middle; /* display:blockで都合が悪い場合はこちらで対応 */
    }

    section {
        &.question {
            .question__title {
                @include spacing(margin-bottom);
            }
            .question__answer {
                ul.answer__options {
                    display: flex;
                    flex-direction: column;
                    gap: .8em;
                    width: 80%;
                    margin: auto;

                    &.two_columns {
                        flex-direction: row;
                        justify-content: space-between;

                        li {
                            width: 45%;
                        }
                    }
    
                    li {
                        background-color: $lightGY;

                        @include btn_style();

                        &.is-active {
                            background-color: #ec8db3;
                            color: #fff;
                            box-shadow: none;
                        }
                    }
                }
            }
            .question__btnNext {
                margin: $marginV * 2 0;
                text-align: center;

                button.btnNext {
                    background-color: $midPL;
                    @include btn_style();
                    min-width: 8em;
                    color: #fff;
                    font-weight: inherit;
                }
            }
        }
    }
}
